{% include header.html %}

{% if site.layout == 'stacked' %}
  <div class="container-lg py-6 p-responsive text-center">
    {% include masthead.html metadata=true %}

    <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
      {{ content }}
    </div>

    <!-- Add the new menu here 
    <nav class="main-nav text-center my-4">
      <ul class="menu list-inline">
        <li class="list-inline-item"><a href="/" class="menu-item text-danger">Home</a></li>
        <li class="list-inline-item"><a href="/blog" class="menu-item text-danger">Blog</a></li>
        <li class="list-inline-item"><a href="/contact" class="menu-item text-danger">Contact</a></li>
      </ul>
    </nav>-->

    <!-- Projects and other sections -->
    <div class="my-6">
      {% include projects.html %}
    </div>

    {% if site.topics %}
      <div class="my-6">
        {% include interests.html %}
      </div>
    {% endif %}

    <!-- disabling on home 
    {% unless posts_total == 0 %}
      <div class="my-6">
        {% include thoughts.html %}
      </div>
    {% endunless %}-->
  </div>
{% else %}
  <!-- Code for alternative layout -->
{% endif %}

{% include footer.html %}
